:root {
    --color-bg: #333;
    --color-fg: #555;
    --color-accent: #db0;
    --color-fringe: #afa;
    --color-text: #fff;
    --border: 2px solid var(--color-accent);
    --transparent: rgba(0,0,0,0);
}

body {
    background-color: var(--color-bg);
    margin: 0px;
    padding: 0px;
    color: var(--color-text);
    font-family: "Lucida Console", monospace;
    font-size: 12px;
    overflow-y: auto;
    user-select: none;
}

/* settings/reset button */
#container > button {
    background-color: var(--color-fg);
    color: var(--color-text);
    font-size: large;
    border: var(--border);
    outline: none;
    padding: 0px 3px;
    margin: 0px;
    position: fixed;
    top: 2px;
    transition: all 0.5s;
    pointer-events: all;
}

#settings-toggle {
    left: 2px;
}

#refresh-button {
    right: 2px;
    padding: 0px 3.5px;
}

#container > button.active {
    font-size: 12px;
    font-family: "Lucida Console", monospace;
    padding: auto;
    background-color: var(--color-fringe);
    color: var(--color-bg);
}

#container > button:hover {
    background-color: var(--color-fringe);
    color: var(--color-bg);
}

#container > button.active:hover {
    background-color: var(--color-fg);
    color: var(--color-text);
}

/* general */
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index: -100;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

input {
    accent-color: var(--color-fringe);
    outline: none;
}

input[type=radio] {
    position: relative;
    top: -3px;
}

input[type=text] {
    padding: 1px;
    background: none;
    border: 0px;
    border-bottom: 1px solid var(--color-accent);
    margin-top: 1px;
    color: var(--color-fringe);
    font-family: inherit;
}

/* search bar */
#search {
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: inherit;
}

#search input[type="text"] {
    width: min-content;
    min-width: fit-content;
    max-width: 50vw;
    padding: 1px;
    background: none;
    border: 0px;
    border-bottom: 2px solid var(--color-fg);
    color: var(--color-text);
    font-family: inherit;
    outline: 0;
}

#search input[type="submit"] {
    margin: 5px 10px;
    color: var(--color-fringe);
    border: var(--border);
    background-color: var(--color-fg);
    transition: background-color 0.25s;
}

#search input[type="submit"]:hover  {
    background-color: #777;
    transition: background-color 0.25s;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-direction: row;
    margin: 0% 2%;
}

form label {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    align-items: center;
}

/* basket */
#basket {
    display: flex;
    flex-direction: row;
    margin: 5%;
    max-width: 60%;
    background-color: var(--color-fg);
    border: var(--border);
}

#basket * {
    margin: 5%;
}

#basket ul {
    transform: translate(-25%, 0);
}

#basket img {
    border: var(--border);
    object-fit: cover;
    pointer-events: none;
    background-color: var(--color-fg);
}

/* settings */
#settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#settings-container > div {
    margin-bottom: 10px;
    padding: 0px;
}

#settings-container button, ::-webkit-file-upload-button {
    background-color: var(--color-fg);
    color: var(--color-text);
    border: var(--border);
    outline: none;
    transition: all 0.5s;
    pointer-events: all;
}

#settings-container button:hover, ::-webkit-file-upload-button:hover {
    background-color: var(--color-fringe);
    color: var(--color-bg);
}

#color-settings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#color-settings > label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2% 2% 2% 0%;
}

#color-settings input {
    transform: translate(5%, -20%);
}

/* links */
a, a:visited:active {
    color: var(--color-fringe);
    transition: color 0.25s;
}

a:hover {
    color: #7c7;
    transition: color 0.25s;
}

/* selection */
::selection {
    color: var(--color-fringe);
    background: rgba(255, 255, 255, 0.3);
}